:root,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: var(--background);
  color: var(--on-background-high-emphasis);
}

@supports (-webkit-touch-callout: none) {
  :root,
  body {
    min-height: -webkit-fill-available;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight: transparent;
}

button {
  cursor: pointer;
  user-select: none;
}

a {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

.primary {
  color: var(--primary);
}

.primary-background {
  background: var(--primary);
  color: var(--on-primary-high-emphasis);
}

.secondary {
  color: var(--secondary);
}

.secondary-background {
  background: var(--secondary);
  color: var(--on-secondary);
}

.surface {
  background: var(--surface);
  color: var(--on-surface-high-emphasis);
  border-radius: 0.5rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.scrollbar {
  scrollbar-color: var(--on-surface-divider) var(--primary);
  scrollbar-width: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--on-surface-divider);
}

.scrollbar::-webkit-scrollbar-track-piece {
  border-inline-start: 1px solid var(--on-surface-divider);
  padding: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right,
    transparent 0.375rem,
    rgba(0, 0, 0, 0.38) 0.375rem,
    rgba(0, 0, 0, 0.38) 1.125rem,
    transparent 1.125rem
  );
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to right,
    transparent 0.375rem,
    var(--primary) 0.375rem,
    var(--primary) 1.125rem,
    transparent 1.125rem
  );
}

hr {
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  border: none;
  margin: 1rem 0;
  background-color: var(--on-surface-divider);
}
hr.vertical {
  min-height: unset;
  max-height: unset;
  width: 1px;
  max-width: 1px;
  min-width: 1px;
  margin: 0 1rem;
}
