:root {
  // Custom Colors
  --custom-example: #000;
}

:root,
:root[light-theme] {
  --custom-example: #000;
}

@mixin dark-theme {
  --custom-example: #fff;
}

:root[dark-theme] {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([light-theme]) {
    @include dark-theme;
  }
}
